@import url("https://fonts.googleapis.com/css?family=Cairo|Changa&display=swap");
body {
  
  background-color:  rgb(236, 235, 235);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
 background-color:  rgba(216, 213, 213, 0.39);
 
  
}
.wrapper{
  display: flex-wrap;
  justify-content: space-around;
 
}
body, h1, h2 {
  
  font-family: 'Cairo', sans-serif;
  
}
code {
  font-family: 'Changa', sans-serif,
    monospace;
}
/*NAV BAR CSS*/
h1{
 
  text-shadow: 3px 3px rgb(39, 39, 39);
  font-size: 60px;
  text-align: center;
  letter-spacing: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: rgb(235, 235, 235);
 
}
.navbar-toggler:focus, .navbar-toggler {
  outline: rgb(39,39,39) 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(39,39,39);
   
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
  outline: rgb(39,39,39) 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(39,39,39);
  background-color: rgba(216, 213, 213, 0.39);
}
#nav-style{ 
  margin:0px;
  background-size: cover; 
  background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.863), rgba(120, 206, 63, 0.808));
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  
}
.bg-pattern{
  background-size: cover; 
  background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
  
  
}
#login-btn:hover{
  background-color: rgb(216, 213, 213);
  color:rgb(105, 182, 55);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;  
}
#login-btn{
  font-family: 'Cairo', sans-serif;
  background-color: rgba(223, 223, 217, 0.151);
  color: rgba(216, 213, 213);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
}
/*User-Nav*/
#user-nav{
  background-color:  rgb(236, 235, 235);
  text-align: right;
   
}
/*Login Page CSS*/
#links{ 
  color: rgba(120, 206, 63);
  }
#login-page-btn, #create-post-btn, #pw-reset-btn, #close-btn, #user-reset-btn, #close-btn1{
  font-size: 13px;
  color: rgb(230,230,230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
  background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0.863), rgba(120, 206, 63, 0.808))
}
#login-page-btn:hover, #create-post-btn:hover, #pw-reset-btn:hover, #close-btn:hover, #user-reset-btn:hover,#close-btn1:hover{
  background-color: rgba(36, 36, 34, 0.151);
  color: rgb(112, 190, 59);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
  background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
  text-shadow: .5px  .5px  rgb(114, 114, 114);
}
/*user profile css*/
h3, .card-title {
  text-transform: uppercase;
  }
 #not-logged-in {
   
  font-family: 'Cairo', sans-serif;
  padding-top: 40px; 
  font-size: xx-large;
  text-align: center;
  background-color:  rgb(236, 235, 235);
   } 
   #edit-post-btn{
    font-size: 13px;
    color:  rgb(236, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: rgba(120, 206, 63, 0.808);
    text-shadow: .5px .5px grey;
  }
  #edit-post-btn:hover{
    background-color: rgba(36, 36, 34, 0.151);    
    color: rgb(112, 190, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
    text-shadow: 1px  1px black;
  }
  #delete-post-btn{
    font-size: 13px;
    color: rgb(112, 190, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background-image: rgba(120, 206, 63, 0.808);
  
  }
  #delete-post-btn:hover{
    background-color: rgba(36, 36, 34, 0.151);   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
    text-shadow: .5px  1px black;
    color: rgb(255, 115, 0);
  }
  /*card css*/
  #ad-container{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
  }
  
/*card/ad modal css*/

.modal-header{ 
  background-size: cover; 
 background-image: linear-gradient(-150deg, rgba(0, 0, 0, 0.856), rgba(120, 206, 63, 0.808));
}
#modal-header-text{
  color: rgba(235, 233, 233);
  text-shadow: 1px  1px  rgb(114, 114, 114);
  font-family: 'Cairo', sans-serif;
}
.modal-content{
  background-color: rgb(235, 233, 233);
}@import url("https://fonts.googleapis.com/css?family=Cairo|Changa&display=swap");
body {
  
  background-color:  rgb(236, 235, 235);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
 background-color:  rgb(236, 235, 235);
 
  
}
.wrapper{
  display: flex-wrap;
  justify-content: space-around;
 
}
body, h1, h2 {
  
  font-family: 'Cairo', sans-serif;
  
}
code {
  font-family: 'Changa', sans-serif,
    monospace;
}
/*NAV BAR CSS*/
h1{
 
  text-shadow: 3px 3px rgb(39, 39, 39);
  font-size: 60px;
  text-align: center;
  letter-spacing: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: rgb(235, 235, 235);
 
}
.navbar-toggler:focus, .navbar-toggler {
  outline: rgb(39,39,39) 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(39,39,39);
   
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
  outline: rgb(39,39,39) 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(39,39,39);
  background-color: rgba(216, 213, 213, 0.39);
}
#nav-style{ 
  margin:0px;
  background-size: cover; 
  background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.863), rgba(120, 206, 63, 0.808));
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  
}
.bg-pattern{
  background-size: cover; 
  background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
  
  
}
#login-btn:hover{
  background-color: rgb(216, 213, 213);
  color:rgb(105, 182, 55);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;  
}
#login-btn{
  font-family: 'Cairo', sans-serif;
  background-color: rgba(223, 223, 217, 0.151);
  color: rgba(216, 213, 213);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
}

#login-btn1:hover{
  /* background-color: rgb(216, 213, 213); */
  /* color:rgb(105, 182, 55); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;
    
}
#login-btn1{
  font-family: 'Cairo', sans-serif;
  /* background-color: rgba(223, 223, 217, 0.151); */
  color: rgba(216, 213, 213);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;

}
/*User-Nav*/
#user-nav{
  text-align: right;
   
}
/*Login Page CSS*/
#links{ 
  color: rgba(120, 206, 63);
  }
#login-page-btn,#login-page-btn1, #create-post-btn, #pw-reset-btn, #modal-submit-btn{
  font-size: 13px;
  color: rgb(230,230,230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
  background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0.863), rgba(120, 206, 63, 0.808))
}
#login-page-btn:hover,#login-page-btn1:hover, #create-post-btn:hover, #pw-reset-btn:hover, #modal-submit-btn:hover{
  background-color: rgba(36, 36, 34, 0.151);
  color: rgb(112, 190, 59);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 1px black;
  background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
  text-shadow: .5px  .5px  rgb(114, 114, 114);
}
/*user profile css*/
h3, .card-title {
  text-transform: uppercase;
  }
 #not-logged-in {
   
  font-family: 'Cairo', sans-serif;
  padding-top: 40px; 
  font-size: xx-large;
  text-align: center;
  background-color:  rgb(236, 235, 235);
   } 
   #edit-post-btn, #yes-btn{
    font-size: 13px;
    color:  rgb(236, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: rgba(120, 206, 63, 0.808);
    text-shadow: .5px .5px grey;
  }
  #edit-post-btn:hover, #yes-btn:hover{
    background-color: rgba(36, 36, 34, 0.151);    
    color: rgb(112, 190, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
    text-shadow: 1px  1px black;
  }
  #delete-post-btn, #no-btn{
    font-size: 13px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background-image: rgba(120, 206, 63, 0.808);
  
  }
  #delete-post-btn:hover, #no-btn:hover{
    background-color: rgba(36, 36, 34, 0.151);   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: solid 1px black;
    background: url(https://img.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg?size=338&ext=jpg); 
    text-shadow: .5px  1px black;
    color: black;
  }
  /*card css*/
  #ad-container{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
  }
        /*not working*/
    .card-text{
    
    height:45px;
    width: 70px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
   
  }
  
  .card:hover{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
  /* .card-text:hover{
    z-index: 2;
    display: block;
    height:45px;
    width: 70px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;   
  } */
    /*end of not working*/
    /*card css*/
  
/*card/ad modal css*/
.modal-header{ 
  background-size: cover; 
 background-image: linear-gradient(-150deg, rgba(0, 0, 0, 0.856), rgba(120, 206, 63, 0.808));
}
#modal-header-text{
  color: rgba(235, 233, 233);
  text-shadow: 1px  1px  rgb(114, 114, 114);
  font-family: 'Cairo', sans-serif;
}
.modal-content{
  background-color: rgb(235, 233, 233);
}